<h1>Редагувати профіль</h1>
<div class="avatar">
      <%= image_tag @user.avatar %>
    </div>
<%= form_for @user do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>
  <div>
    <%= f.submit 'Зберегти зміни' %>
  </div>
<% end %>
