<h1>Реєстрація</h1>

<%= form_with(model: @user, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "помилка") %> заборонили збереження:</h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :email, "E-mail" %><br>
    <%= form.email_field :email, required: true %>
  </div>

  <div>
    <%= form.label :password %><br>
    <%= form.password_field :password, required: true %>
  </div>

  <div>
    <%= form.label :name, "Your name" %><br>
    <%= form.text_field :name, required: true %>
  </div>

  <div>
    <%= form.label :nickname, "Made-up name (nickname, display name)" %><br>
    <%= form.text_field :nickname, required: true %>
  </div>

  <div>
    <%= form.label :role %><br>
    <%= form.select :role, [['Student', 'student'], ['Teacher', 'teacher']], {}, required: true %>
  </div>

  <div>
    <%= form.submit "Зареєструватися" %>
  </div>
<% end %>
