<%= form_with(model: [@course, @lesson]) do |form| %>
  <% if @lesson.errors.any? %>
    <div>
      <h2><%= pluralize(@lesson.errors.count, "error") %> забороняють зберегти урок:</h2>
      <ul>
        <% @lesson.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content %><br>
    <%= form.text_area :content, rows: 10 %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
