<div class="course-element" id="<%= dom_id course %>">
  <p class="course-title">
    <strong>Title:</strong>
    <%= course.title %>
  </p>

  <p class="course-desc">
    <strong>Description:</strong>
    <%= course.description %>
  </p>

  <p class="course-image">
    <strong>Image:</strong>
    <img src="<%= course.image %>" alt="<%= course.image %>" />
    
  </p>

  <p>
    <strong>Category:</strong>
    <%= course.category %>
  </p>

</div>
